<section class=" container d-flex">
  <div class="row">
<div class="container-card ">
<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/cuisine/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>{{title}}</header>
    <!-- The card contains the first painting of the gallery -->
    <img width="100%" height="100%" src="{{image}}">
  </a>
</section>
</div>
</div>
</section>