<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class=" headimage col-12 jumbotron mb-0">
        <h1 class=" text-center"> <a href="/"></a> Cuisine Type
        </h1>
    </div>

    <header class="mt-0">
        <div class="sideNav flex-shrink-0 p-3" style="width: 280px;">
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <a href="/" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="false">
                        Home
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Type of Cuisine
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#orders-collapse" aria-expanded="false">
                        Random Recipe
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                        Blogs
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                        Profile
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </header>
        <div class="card">
          <img class="card-img-top" src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/media/images/asia-food-thesomegirl/10536284-1-eng-GB/asia-food-thesomegirl_wrbm_large.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Asian Cuisine</h5>
            <p class="card-text">1. Drunken Noodles
                                 2. Miso Soup
            </p>
            <a href="#" class="btn btn-primary">Asian Cuisine</a>
          </div>
        </div>
    </div>
        <div class="card">
          <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/13/5d/e7/8c/getlstd-property-photo.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">American Cuisine</h5>
            <p class="card-text">1. Steakhouse Burger
                                 2. Corn Salad
            </p>
            <a href="#" class="btn btn-primary">American Cuisine</a>
          </div>
        </div>
    </div>
        <div class="card">
          <img class="card-img-top" src="https://cdn.vox-cdn.com/thumbor/wdyWEHcFb88uZzUUnWEee4g9lGA=/0x0:1024x683/1200x900/filters:focal(431x261:593x423)/cdn.vox-cdn.com/uploads/chorus_image/image/54807847/Borracha_overhead.11.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Latin Cuisine</h5>
            <p class="card-text">1.Lomo Saltado
                                 2.Tongue Tacos
            </p>
            <a href="#" class="btn btn-primary">Latin Cuisine</a>
          </div>
        </div>
      </div>
        <div class="card">
          <img class="card-img-top" src="https://www.organicfacts.net/wp-content/uploads/middleeasterncuisine.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Middle Eastern Cuisine</h5>
            <p class="card-text">1.Ground Lamb kabab
                                 2.Falafel
            </p>
            <a href="#" class="btn btn-primary">middle Eastern Cuisine</a>
          </div>
        </div>
      </div>
        <div class="card">
          <img class="card-img-top" src="https://www.onhisowntrip.com/wp-content/uploads/2020/08/RACQ-1000x540.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Italian Cuisine</h5>
            <p class="card-text">1. Margharita Pizza
                                 2. Spinach and Basil Lasagna
            </p>
            <a href="#" class="btn btn-primary">Latin Cuisine</a>
          </div>
        </div>
      </div>
        <div class="card">
          <img class="card-img-top" src="https://cdn.standardmedia.co.ke/images/saturday/afwhofonstc41fo0q65ce9a36522cb0.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Vegetarian Cuisine</h5>
            <p class="card-text">1. Butternut Squash Curry
                                 2. Vegetarian Fajitas
            </p>
            <a href="#" class="btn btn-primary">Vegetarian Cuisine</a>
          </div>
        </div>
      </div>
    <main>
        {{body}}
    </main>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>