<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\styles.css">

</head>

<body>
    <div class=" headimage col-12 jumbotron mb-0">
        <h1 class=" text-center"> <a href="/"></a> Aint Your MAMAS Cooking!!
        </h1>
    </div>

    <header class="mt-0 col-12 flex-shrink-0">
        <div class="sideNav flex-shrink-0 p-3" style="width: 280px;">
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <a href="/" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="false">
                        Home
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Recipes
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#orders-collapse" aria-expanded="false">
                        Random Recipe
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                        Blogs
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                        Profile
                    </a>
                </li>
                <li class="mb-1">
                    <a href="/#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="container rightSide mt-5">
        {{{body}}}
    </main>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>