{{#if logged_in}}
<section class="row justify-content-center comment-input">
    <div id="leave-comment" class="col-12 col-sm-6 col-md-4">
        <h2>Leave a Comment</h2>
        <form>
            <div class="form-group">
                <label for="comment-input">Your message:</label>
                <textarea name="comment" id="comment-input" class="form-control"></textarea>
            </div>
            <button class="btn btn-success " id="comment-input">Submit Comment.</button>
        </form>
    </div>
</section>
{{/if}}

{{#if logged_in}}
<script src="../public/js/commet.js"></script>
{{/if}}
