<div class="card">
  <img class="card-img-top"
    src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/media/images/asia-food-thesomegirl/10536284-1-eng-GB/asia-food-thesomegirl_wrbm_large.jpg"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Asian Cuisine</h5>
    <p class="card-text">1. Drunken Noodles
      2. Miso Soup
    </p>
    <a href="#" class="btn btn-primary">Asian Cuisine</a>
  </div>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/13/5d/e7/8c/getlstd-property-photo.jpg"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">American Cuisine</h5>
    <p class="card-text">1. Steakhouse Burger
      2. Fresh Corn Salad
    </p>
    <a href="#" class="btn btn-primary">American Cuisine</a>
  </div>
</div>
</div>
<div class="card">
  <img class="card-img-top"
    src="https://cdn.vox-cdn.com/thumbor/wdyWEHcFb88uZzUUnWEee4g9lGA=/0x0:1024x683/1200x900/filters:focal(431x261:593x423)/cdn.vox-cdn.com/uploads/chorus_image/image/54807847/Borracha_overhead.11.jpg"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Latin Cuisine</h5>
    <p class="card-text">1.Lomo Saltado
      2.Tongue Tacos
    </p>
    <a href="#" class="btn btn-primary">Latin Cuisine</a>
  </div>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="https://www.organicfacts.net/wp-content/uploads/middleeasterncuisine.jpg"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Middle Eastern Cuisine</h5>
    <p class="card-text">1.Ground Lamb kabab
      2.Falafel
    </p>
    <a href="#" class="btn btn-primary">middle Eastern Cuisine</a>
  </div>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="https://www.onhisowntrip.com/wp-content/uploads/2020/08/RACQ-1000x540.jpg"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Italian Cuisine</h5>
    <p class="card-text">1. Margharita Pizza
      2. Spinach and Basil Beef Lasagna
    </p>
    <a href="#" class="btn btn-primary">Latin Cuisine</a>
  </div>
</div>
</div>
<div class="card">
  <img class="card-img-top" src="https://cdn.standardmedia.co.ke/images/saturday/afwhofonstc41fo0q65ce9a36522cb0.webp"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Vegetarian Cuisine</h5>
    <p class="card-text">1. Butternut Squash Curry
      2. Vegetarian Fajitas
    </p>
    <a href="#" class="btn btn-primary">Vegetarian Cuisine</a>
  </div>
</div>
</div>