<section  class="row justify-content-center mtb">
  <div class="col-12  text-center">
    <h2>Ain't Your Mamas Recipes</h2>
    <p>Hello Welcome to Aint Your Mamas Cooking a place to learn unconventional recipes and ways to cook</p>
  </div>
  {{#each cuisines as |cuisine|}}
{{> cuisine-details}}
{{/each}}
</section>