<section  class="row ">
  <div class="col-12  text-center">
    <h2>Ain't Your Mamas Recipes</h2>
    <p>Hello Welcome to Aint Your Mamas Cooking a place to learn unconventional recipes and ways to cook</p>
  </div>
  <section  class="row row row-cols-3 row-cols-md-2 g-6 card-body">
  {{#each cuisines as |cuisine|}}
{{> cuisine-details}}
{{/each}}
</section>
</section>

