<section class="container d-block">
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{userName}}!</h2>
  </div>

</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a Recipe:</h3>

    <form class="form new-recipe-form">

      <div class="form-group">
        <label for="recipe-name">Recipe name:</label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>

      <div class="form-group">
        <label for="cuisine-type"> Cuisine-type:</label>

        <select class="form-control" id="cuisine-type">
          <option value="1">American</option>
          <option value="2">Asian</option>
          <option value="3">Latin</option>
          <option value="4">Middle-Eastern</option>
          <option value="5">Italian</option>
          <option value="6">Vegetarian</option>
        </select>

      </div>

      <div class="form-group">
        <label for="prepTime">Prep time:</label>
        <input class="form-input" type="number" id="prep-time" name="prep-time" />
      </div>
      <div class="form-group">
        <label for="cookTime">Cook Time:</label>
        <input class="form-input" type="number" id="cook-time" name="cook-time" />
      </div>
      <div class="form-group">
        <label for="serves">Serves:</label>
        <input class="form-input" type="number" id="serves" name="serves" />
      </div>
      <div class="form-group">
        <label for="recipe-desc">Recipe Summary:</label>
        <textarea class="form-input" id="recipe-summary" name="recipe-summary"></textarea>
      </div>
      <div class="form-group">

        <div class="form-group">
          <label for="recipe-desc">Ingredients:</label>
          <textarea class="form-input" id="ingredients-list" name="ingredients-list"></textarea>
        </div>
        <div class="form-group">
          <label for="recipe-desc">Instructions:</label>
          <textarea class="form-input" id="instructions-desc" name="instructions-desc"></textarea>
        </div>

        <div class="row py-4">
          <div class="col-lg-8 6mx-auto">

            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
              <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
              <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
              <div class="input-group-append">
                <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                    class="fa fa-cloud-upload mr-2 text-muted"></i><small
                    class="text-uppercase font-weight-bold text-muted">Choose
                    file</small></label>
              </div>
            </div>

            <!-- Uploaded image area-->
            <p class="font-italic text-white text-center">The image uploaded will be
              rendered inside the box below.</p>
            <div class="image-area mt-4"><img width="200px" height="200px" id="imageResult" src="#" alt=""
                class="img-fluid rounded shadow-sm mx-auto d-block"></div>

          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <div class="current-recipes">
    {{#if recipes.length}}
    <div class="col-md-6 recipe-list">
      <h3>Current Recipies:</h3>

      {{#each recipes as |recipe|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/recipe/{{recipe.id}}">{{recipe.dishName}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger"  id="deletebtn" data-id="{{recipe.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>

<div class="bottom-container">
  <footer>
    2021 University of Denver Bootcamp
  </footer>
</div>
</section>

<!--Helped solve an issuse with line 19 in profile.js (Uncaught ReferenceError: $ is not defined)-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/profile.js"></script>